@page "/"

<PageTitle>Home</PageTitle>

<h1>Main Dashboard</h1>
<p>Welcome to sensore.health, in this part of the app i will include some gibberish about how we take pressure data and represent it</p>

